.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 20%;
}

.brand-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 40px;
    background: black;
    background: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, rgba(76, 76, 76, 1) 64%);
}

.brand-title {
    padding-inline: 5px;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
}

.brand-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    color: #ffffff;
    gap:1rem;
    align-items: center;
}

.brand-name:hover{
    background-color: #fff;
}

.brand-name{
    display: flex;
    /* Căn giữa theo chiều dọc */
    width: 100%;
    height: 2rem;
    align-items: center;
}

.brand-name a{
    
    padding-inline: 10px;
    color: #535353;
    height: 100%;
    width: 100%;
    font-size: 0.9rem;
    border-bottom: 2px dotted #535353;
}
