.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 25%;
    flex: 0 0 25%;
}

.desktop-container {
   width: 100%;
}
.mobile-container{
    width: 100%;
}

.brand-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 40px;
    background: black;
    background: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, rgba(76, 76, 76, 1) 64%);
}

.brand-title {
    padding-inline: 5px;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    color: #ffffff;
}

.brand-item{
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: pointer;
    color: #ffffff;
    justify-content: center;
}

.brand-name:hover{
    background-color: #fff;
}

.brand-name{
    display: flex;
    width: 100%;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    border-bottom: 1px dotted #535353;
}

.brand-name a{
    padding-inline: 10px;
    color: #535353;
    width: 100%;
    font-size: 0.9rem;
   
}

.btn-container{
    display: flex;
    width: 100%;
    gap: 0.5rem;
}

.btn{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 40px;
    background: black;
    background: linear-gradient(0deg, rgba(0, 0, 0, .8) 0, rgba(76, 76, 76, 1) 64%);
}


@media (max-width: 1024px) {
    .container {
        width: 35%;
    }
}

@media (min-width: 913px) {
    .mobile-container {
        display: none;
    }
    
    
}

@media (max-width: 912px) {
    .desktop-container {
        display: none;
    }
    .container {
        width: 100%;
        flex: 0 0 100%;
    }
    
}
