
.cart-list{
    overflow-y: auto;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product-container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 10px 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.img-container{
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    width: 200px;
    height: auto;
    object-fit: cover;
}

.info-container{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.btn-del-container{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-del{
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-del{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    font-size: 20px;
}

.price{
    color: #6394f8;
    font-size: 18px;
}

.quantity-container{
    width: 35%;
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    
}

.quantity{
    color: #abb0be;
    font-size: 16px;
    width: 35px;
    height: 35px;
    border-radius: 20%;
    text-align: center;
    background: none;
    border: 1px solid #abb0be;
}

.quantity::-webkit-outer-spin-button,
.quantity::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-pm{
    background: var(--textGray);
    border: none;
    cursor: pointer;
    border-radius: 20%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-pm{
    width: 10px;
    height: 10px;
    object-fit: cover;
}

.total-price{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 7px 8px;
}

.btn-po{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 8px;
}

.btn-po button{
    width: 30%;
    height: 50px;
    background: black;
    color: white;
    font-size: 18px;
    border: none;
    transition: all 300ms ease ;
    cursor: pointer;
}

.btn-po button:hover{
    border: 1px solid black;
    background: white;
    color: black;
}

.empty{
    width: 100%;
    height: 60vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 7px 8px;
    justify-content: space-between;
}

.header-container p{
    font-size: 30px;
    font-weight: 700;
}

.btn-del-selected-container button{
    background:none;
    border: 1px solid var(--textGray);
    color: var(--textGray);
    height: 30px;
    padding: 7px 8px;
    cursor: pointer;
}

/* Style cho checkbox */
.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
    appearance: none; /* Loại bỏ style mặc định của checkbox */
    border: 2px solid #ccc; /* Viền mặc định */
    border-radius: 4px; /* Bo góc */
    background-color: #fff; /* Nền mặc định */
    transition: all 0.3s ease; /* Hiệu ứng chuyển đổi */
  }
  
  /* Khi checkbox được chọn */
  .checkbox:checked {
    background-color: var(--textGray); /* Nền màu xanh khi được chọn */
    border-color:  var(--textGray); /* Viền màu xanh khi được chọn */
    position: relative;
  }
  
  /* Dấu check khi checkbox được chọn */
  .checkbox:checked::after {
    content: '✔'; /* Dấu check */
    color: white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Hiệu ứng hover */
  .checkbox:hover {
    border-color: var(--textGray); /* Đổi màu viền khi hover */
  }

  .btn-del-all-container{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 7px 8px;
  }

  .btn-del-all{
    background:none;
    border: 1px solid var(--textGray);
    color: var(--textGray);
    height: 30px;
    padding: 7px 8px;
    cursor: pointer;
  }

@media(max-width: 1024px){
    .quantity-container{
        width: 50%;
    }
}

@media(max-width: 912px){
    .quantity-container{
        width: 80%;
    }

    .img{
        width: 100px;
    }
    .name{
        font-size: 18px;
    }
    .price{
        font-size: 16px;
    }
    .quantity{
        font-size: 14px;
        width: 25px;
        height: 25px;
    }
    .btn-pm{
        width: 25px;
        height: 25px;
    }
}

