.container{
    max-width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    gap: 5rem;
    margin:0 auto;
}

.left-container{}
.right-container{
    width: 50%;
}

.left-container img{
    object-fit: contain;
    width: 100%;
    height: auto;
}

@media (max-width: 912px) {
    .left-container {
        display: none;
    }
}

.right-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-container{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.form-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}

.input-container{   
    width: 100%;
    gap: 1rem;
}

.input-container input{
    color: black;
    height: 50px;
    width: 300px;
    background: white;
    border: solid 1px black;
}

.form-container button{
    height: 50px;
    width: 300px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.form-container button:hover{
    background: white;
    color: black;
    border: solid 1px black;
}

.form-footer p a{
    color: blue;
    
}

@media (max-width: 1024px){
    .container{
        max-width: 80%;
    }
}

@media  (max-width: 912px){
    .container{
        max-width: 90%;
    }
}