.navbar {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 5rem;
    padding: 1rem 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.navbar__right {
    justify-content: end;
    display: flex;
    align-items: center;
    gap: 1em
}

.navbar__logo {
    max-height: 50px;
}

.navbar__menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 calc(20% - 1rem);
    gap: 2rem;
}

.navbar__menu li {
    position: relative;
}

.navbar__menu li a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}


.navbar__cart img {
    height: 30px;
    width: 30px;
    object-fit: contain;
}



.navbar__dropdown:hover .navbar__submenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.navbar__dropdown.active .navbar__submenu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.navbar__submenu {
    visibility: hidden;
    position: absolute;
    top: 100%;
    background-color: #444;
    list-style: none;
    padding: 0;
    margin: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    z-index: 1000;
}

/* chưa giải quyết đc dropdown effect*/

.navbar__submenu li {
    margin: 0;
}

.navbar__submenu li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

.navbar__submenu a:hover {
    background-color: #555;
}

/* mobile */

.navbar__mobile-toggle {
    display: none;
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.navbar__mobile-toggle img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* Styles cho màn hình mobile */
@media (max-width: 912px) {

    /* Ẩn menu chính trên mobile */
    .navbar__center {
        margin: auto;
        width: 90%;
        position: absolute;
        margin-top: 5rem;
        top: 0;
        left: 0;
        right: 0;
        background-color: #333;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        z-index: 1000;
    }

    .navbar__center.active {
        max-height: 500px;
        transform: translateY(0);
    }

    .navbar__menu {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        width: 100%;
    }
    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__dropdown .navbar__submenu {
        position: static;
        background-color: #555;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out, opacity 0.5s ease;
        opacity: 0;
        visibility: visible;
        transform: none;
    }

    .navbar__mobile-toggle {
        display: block;
    }

    .navbar__dropdown.active .navbar__submenu {
        max-height: 500px;
        opacity: 1;
    }

    .navbar__right {
        display: flex;
        align-items: center;
    }


}