.container{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    flex: 0 0 70%;
    gap: 1rem;
    position: relative;
}

@media (max-width: 912px) {
    .container {
        width: 100%;
        flex: 0 0 100%;
    }
    
}