.container{
    display: flex;
    flex-direction: column;
    width: 70%;
    flex: 0 0 70%;
    gap: 1rem;
    margin: auto;
}

.container-products{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1rem;
    position: relative;
}

.container-products > * {
    flex: 0 0 calc(33.33% - 1rem); 
    max-width: calc(33.33% - 1rem);
}
.container-products > :first-child  {
    flex: initial;
    max-width: none;
}

.no-results{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    font-size: 2rem;
    text-align: center;
}

@media (max-width: 912px) {
    .container{
        width: 100%;
        flex: 0 0 100%;
    }
    
}

@media (max-width: 1024px) {
    .container-products > * {
        flex: 0 0 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
    }
    
}